@model CreateNewUserVM
@{
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <title>Skapa konto</title>
</head>
<body>

    <img style="position:absolute;bottom: 0;
    right:0;z-index: 0;width:100%;align-content:center"
         src="~/images/outsidecurlyfemale.jpg" />

    <div style="position:absolute; left:280px; top:-80px" class="login-page">
        <div class="form">
            <img width="200" src="~/Images/academy_prestudies_logo_w_tag_RGB.jpg" />

            <form class="login-form" asp-controller="Accounts" asp-action="CreateNewUser">
                <label style="font-weight:bold" asp-for="FirstName">Förnamn</label>
                <input placeholder="Förnamn" asp-for="FirstName" />
                <span asp-validation-for="FirstName"></span>
                <br />
                <br />
                <label style="font-weight:bold" asp-for="LastName">Efternamn</label>
                <input placeholder="Efternamn" asp-for="LastName" />
                <span asp-validation-for="LastName"></span>
                <br />
                <br />
                <label style="font-weight:bold" asp-for="UserName">Användarnamn</label>
                <input placeholder="Användarnamn" asp-for="UserName" />
                <span asp-validation-for="UserName"></span>
                <br />
                <br />
                <label style="font-weight:bold" asp-for="Password">Lösenord</label>
                <input placeholder="Lösenord" asp-for="Password" />
                <span asp-validation-for="Password"></span>
                <br />
                <br />
                <button type="submit">Skapa Konto</button>
            </form>
            <p type="submit" class="message">Redan registrerad? <a href="/LogIn/">Logga in här</a></p>

        </div>
    </div>

    <link href="~/Styles/LogIn.css" rel="stylesheet" />
    <script src="~/js/LogIn.js"></script>
</body>
</html>


