@model CreateNewUserVM

<!DOCTYPE html>
<html>
<head>
    <title> CREATE NEW USER</title>
</head>
<body>
    <h1>CREATE NEW USER GET</h1>

    <h1>Create new user</h1>
    <form asp-controller="Accounts" asp-action="CreateNewUser">
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
        <br />
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
        <br />
        <input type="submit" value="Register" />
    </form>
</body>
</html>