@model LogInVM
@{
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <title>Log In</title>
</head>
<body>

    <img style="position: fixed;z-index: 0;width:100%;"
         src="~/images/outsidecurlyfemale.jpg" />

    <div class="login-page">
        <div class="form">
            <img width="200" src="~/Images/academy_prestudies_logo_w_tag_RGB.jpg" />
            <form class="login-form" asp-controller="Accounts" asp-action="Login">
                <label style="font-weight:bold" asp-for="Name">Namn</label>
                <input type="text" placeholder="Namn" asp-for="Name" />
                <span asp-validation-for="Name"></span>
                <br />
                <br />
                <label style="font-weight:bold" asp-for="Password">Lösenord</label>
                <input type="password" placeholder="Lösenord" asp-for="Password" />
                <span asp-validation-for="Password"></span>
                <br />
                <br />
                <button type="submit">Logga In</button>
            </form>
            <p type="submit" class="message">Inte registrerad? <a href="/Accounts/CreateNewUser/">Skapa konto</a></p>
        </div>
    </div>
          
    <link href="~/Styles/LogIn.css" rel="stylesheet" />
    <script src="~/js/LogIn.js"></script>
</body>
</html>