@model AssignmentPageVM
<!DOCTYPE html>
<html>
<head>
    <title> </title>
</head>
<body>
    <h1>AssignmentPage</h1>
    <form asp-controller="Assignments" asp-action="AssignmentPage">
        <input type="submit" value="Assignment Completed" />
    </form>

</body>
</html>